# Dependencies
node_modules/

# Build outputs
dist/
release/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.vs/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Electron
out/

# TypeScript
*.tsbuildinfo

# Misc
*.pem
.cache/
